absl-py
array-record
astunparse
babel
beautifulsoup4
cached-property
cachetools
certifi
charset-normalizer
chex
click
clu
colorama
commonmark
contextlib2
contourpy
cycler
dm-tree
docstring-parser
editdistance
etils[array-types,enp,epath,epy,etqdm,etree]
filelock
flatbuffers
flax==0.3.5
fonttools
fsspec
future
gast
gdown
gin
gin-config
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
huggingface-hub
idna
immutabledict
importlib-resources
jax
jaxlib
joblib
keras
kiwisolver
libclang
lxml
markdown
markupsafe
matplotlib
mesh-tensorflow[transformer]
ml-collections
msgpack
nltk
numpy<2
oauthlib
opt-einsum
optax
packaging
pandas
pillow
portalocker
promise
protobuf
psutil
pyasn1
pyasn1-modules
pyglove
pygments
pyparsing
pysocks
python-dateutil
pytz
pyyaml
regex
requests[socks]
requests-oauthlib
rich
rouge-score
rsa
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
seqio
seqio-nightly
six
soupsieve
t5
tabulate
tensorboard
tensorboard-data-server
tensorflow==2.9.0
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-text
tensorstore
termcolor
tfds-nightly
threadpoolctl
tokenizers
toml
toolz
tqdm
transformers
typing-extensions
tzdata
urllib3
werkzeug
wheel
wrapt
zipp
